body {
    background-color: azure;
}

a {
    background-color: mediumslateblue;
    border: 2px solid white;
    color: white;
    padding: 8px 18px;
    border-radius: 10px;
    text-decoration: none;
}

a:hover {
    background-color: white;
    color: mediumslateblue;
    border: 2px solid mediumslateblue;
}
