body {
    background-color: azure;
}

a {
    background-color: mediumslateblue;
    border: 2px solid white;
    color: white;
    padding: 8px 18px;
    border-radius: 10px;
    text-decoration: none;
}

a:hover {
    background-color: white;
    color: mediumslateblue;
    border: 2px solid mediumslateblue;
}

.link {
    margin: 24px 10px;
}

.welcome-message {
    background-color: cornflowerblue;
    border: 2px ridge rgb(54, 134, 255);
    color: white;
    border-radius: 10px;
    padding: 0 10px;
}